.sticky-header.header-section
        .header-left
          button#showLeftPush
            i.fa.fa-bars
          .logo
            a(href='index.html')
              h1 NOVUS
              |  
              span AdminPanel
          .search-box
            form.input
              input#input-31.sb-search-input.input__field--madoka(placeholder='Search...', type='search')
              |  
              label.input__label(for='input-31')
                svg.graphic(width='100%', height='100%', viewbox='0 0 404 77', preserveaspectratio='none')
                  path(d='m0 0 404 0 0 77-404 0 0-77z')
          .clearfix
        .header-right
          .profile_details_left
            ul.nofitications-dropdown
              li.dropdown.head-dpdn
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  i.fa.fa-envelope
                  |  
                  span.badge 3
                ul.dropdown-menu
                  li
                    .notification_header
                      h3 You have 3 new messages
                  li
                    a(href='#')
                      .user_img
                        img(src='images/1.png', alt='')
                      .notification_desc
                        p Lorem ipsum dolor amet
                        p
                          span 1 hour ago
                      .clearfix
                  li.odd
                    a(href='#')
                      .user_img
                        img(src='images/2.png', alt='')
                      .notification_desc
                        p Lorem ipsum dolor amet
                        p
                          span 1 hour ago
                      .clearfix
                  li
                    a(href='#')
                      .user_img
                        img(src='images/3.png', alt='')
                      .notification_desc
                        p Lorem ipsum dolor amet
                        p
                          span 1 hour ago
                      .clearfix
                  li
                    .notification_bottom
                      a(href='#') See all messages
              li.dropdown.head-dpdn
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  i.fa.fa-bell
                  |  
                  span.badge.blue 3
                ul.dropdown-menu
                  li
                    .notification_header
                      h3 You have 3 new notification
                  li
                    a(href='#')
                      .user_img
                        img(src='images/2.png', alt='')
                      .notification_desc
                        p Lorem ipsum dolor amet
                        p
                          span 1 hour ago
                      .clearfix
                  li.odd
                    a(href='#')
                      .user_img
                        img(src='images/1.png', alt='')
                      .notification_desc
                        p Lorem ipsum dolor amet
                        p
                          span 1 hour ago
                      .clearfix
                  li
                    a(href='#')
                      .user_img
                        img(src='images/3.png', alt='')
                      .notification_desc
                        p Lorem ipsum dolor amet
                        p
                          span 1 hour ago
                      .clearfix
                  li
                    .notification_bottom
                      a(href='#') See all notifications
              li.dropdown.head-dpdn
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  i.fa.fa-tasks
                  |  
                  span.badge.blue1 15
                ul.dropdown-menu
                  li
                    .notification_header
                      h3 You have 8 pending task
                  li
                    a(href='#')
                      .task-info
                        span.task-desc Database update
                        span.percentage 40%
                        .clearfix
                      .progress.progress-striped.active
                        .bar.yellow(style='width:40%;')
                  li
                    a(href='#')
                      .task-info
                        span.task-desc Dashboard done
                        span.percentage 90%
                        .clearfix
                      .progress.progress-striped.active
                        .bar.green(style='width:90%;')
                  li
                    a(href='#')
                      .task-info
                        span.task-desc Mobile App
                        span.percentage 33%
                        .clearfix
                      .progress.progress-striped.active
                        .bar.red(style='width: 33%;')
                  li
                    a(href='#')
                      .task-info
                        span.task-desc Issues fixed
                        span.percentage 80%
                        .clearfix
                      .progress.progress-striped.active
                        .bar.blue(style='width: 80%;')
                  li
                    .notification_bottom
                      a(href='#') See all pending tasks
            .clearfix
          .profile_details
            ul
              li.dropdown.profile_details_drop
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  .profile_img
                    span.prfil-img
                      img(src='images/a.png', alt='')
                    .user-name
                      p Wikolia
                      |  
                      span Administrator
                    i.fa.fa-angle-down.lnr
                    i.fa.fa-angle-up.lnr
                    .clearfix
                ul.dropdown-menu.drp-mnu
                  li
                    a(href='#')
                      i.fa.fa-cog
                      |  Settings
                  li
                    a(href='#')
                      i.fa.fa-user
                      |  Profile
                  li
                    a(href='#')
                      i.fa.fa-sign-out
                      |  Logout
          .clearfix
        .clearfix