.sidebar(role='navigation')
        .navbar-collapse
          nav#cbp-spmenu-s1.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
            ul#side-menu.nav
              li
                a.active(href='index.html')
                  i.fa.fa-home.nav_icon
                  |  Dashboard
              li
                a(href='/admin/settings')
                  i.fa.fa-cogs.nav_icon
                  | Настройки
              li
                a(href='#')
                  i.fa.fa-cogs.nav_icon
                  |  Components 
                  span.nav-badge 12
                  span.fa.arrow
                ul.nav.nav-second-level.collapse
                  li
                    a(href='grids.html') Grid System
                  li
                    a(href='media.html') Media Objects
              li
                a(href='#')
                  i.fa.fa-book.nav_icon
                  |  UI Elements
                  span.fa.arrow
                ul.nav.nav-second-level.collapse
                  li
                    a(href='general.html')
                      | General
                      span.nav-badge-btm 08
                  li
                    a(href='typography.html') Typography
              li
                a(href='widgets.html')
                  i.fa.fa-th-large.nav_icon
                  |  Widgets 
                  span.nav-badge-btm 08
              li
                a(href='#')
                  i.fa.fa-envelope.nav_icon
                  |  Mailbox
                  span.fa.arrow
                ul.nav.nav-second-level.collapse
                  li
                    a(href='inbox.html')
                      | Inbox 
                      span.nav-badge-btm 05
                  li
                    a(href='compose.html') Compose email
              li
                a(href='tables.html')
                  i.fa.fa-table.nav_icon
                  |  Tables 
                  span.nav-badge 05
              li
                a(href='#')
                  i.fa.fa-check-square-o.nav_icon
                  |  Forms
                  span.fa.arrow
                ul.nav.nav-second-level.collapse
                  li
                    a(href='forms.html')
                      | Basic Forms 
                      span.nav-badge-btm 07
                  li
                    a(href='validation.html') Validation
              li
                a(href='#')
                  i.fa.fa-file-text-o.nav_icon
                  |  Pages
                  span.nav-badge-btm 02
                  span.fa.arrow
                ul.nav.nav-second-level.collapse
                  li
                    a(href='login.html') Login
                  li
                    a(href='signup.html') SignUp
                  li
                    a(href='blank-page.html') Blank Page
              li
                a.chart-nav(href='charts.html')
                  i.fa.fa-bar-chart.nav_icon
                  |  Charts 
                  span.nav-badge-btm.pull-right new